.App {
  text-align: center;
  width: 50%;
  margin: auto;
}

button{
    border-radius: none;
    padding: 10px;
    margin: 10px;
    background-color: blueviolet;
    color: #fafafa;
    border: none;
    cursor: pointer;
}

button:hover{
    border-radius: none;
    background: purple;
    border: none;
}

button:focus{
    border-radius: none;
    background: purple;
    outline: none;
}
